# Importing relevant libraries

In [6]:
import pandas as pd
import numpy as np
import re

# Importing data

In [7]:
shark_attacks = pd.read_csv('C:/Users/pfaprado/Documents/IronHack/2021-01-22-project-shark-attack/attacks.csv', encoding='latin1')

# Preliminary analysis of data

In [8]:
# Let's show all the columns available through a max_columns = None and a head method.

pd.options.display.max_columns = None
shark_attacks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

## Size of the dataframe

In [9]:
# Let's check the number of elements in our dataframe.

shark_attacks.size

# We have about 617352 elements.

617352

## Shape of the dataframe

In [10]:
# Let's check the shape of our dataframe.

shark_attacks.shape

# We have 24723 entries of 24 types of data.

(25723, 24)

## Null-count and data types of the dataframe

In [11]:
# Let's check the non-null count and type of our data.

shark_attacks.info()

# Too many data entries without many infos such as Age, Time, Sex, Fatal, etc. Last columns can't be used.
# Year is a float64, should have been an integer.
# Age should have been specified as integer.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [12]:
# Specifically, about the types of data columns.

shark_attacks.dtypes

Case Number                object
Date                       object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object

## Columns of the dataframe

In [14]:
# Let's check all the columns availables. There are a bunch of columns with strange names at the end.

shark_attacks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [15]:
# Let's check how many nulls we have in our dataset in each column.

null_cols = shark_attacks.isnull().sum()

null_cols

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

# Jaws Adventures: marketing shark feeding

In [16]:
"""
Our company, "Jaws Adventures", offers scuba diving for people.
We would like to analyse and market a new product: shark feeding.
However people may express distress to the idea of feeding sharks and the risks involved.
Let's analyse whether feeding sharks is safer than other activities already offered by our company.
"""

"""
For this, we will need to pull the data from columns:
- Activity (categorical)
- Fatal (Y/N) (categorical, binary: Y/N)
This data will represent all kinds of attacks registered.

However, we know that the database is kind of messy, so we will need to do some data wrangling (cleaning) before.
"""

fatality_activity = shark_attacks[['Activity','Fatal (Y/N)']]

fatality_activity

          Activity Fatal (Y/N)
0         Paddling           N
1         Standing           N
2          Surfing           N
3          Surfing           N
4      Free diving           N
...            ...         ...
25718          NaN         NaN
25719          NaN         NaN
25720          NaN         NaN
25721          NaN         NaN
25722          NaN         NaN

[25723 rows x 2 columns]

In [17]:
# Let's count all the occurrences present in the column Fatal.

shark_attacks['Fatal (Y/N)'].value_counts()

# Highest portion of shark attacks are non-fatal.

N          4293
Y          1388
UNKNOWN      71
 N            7
y             1
2017          1
M             1
N             1
Name: Fatal (Y/N), dtype: int64

In [23]:
shark_attacks['Activity'].value_counts()

# Highest portion occurred during surfing, swimming or fishing (apparently).
# !However there are way too many categories to affirm anything at this point!

Surfing                                                                971
Swimming                                                               869
Fishing                                                                431
Spearfishing                                                           333
Bathing                                                                162
                                                                      ...
Collecting marine specimens                                              1
Harpooning turtles                                                       1
Standing on his hands                                                    1
Fishing from rocks, swept out to sea by large wave & treading water      1
Helmet diving in Miami Seaquarium                                        1
Name: Activity, Length: 1532, dtype: int64

In [57]:
#Let's check the occurrences were 'feeding' is present.
def f(row):
    """
    Find the 'feeding' word in a string.
    """
    
    y = re.findall('feedi?n?g?',row['Activity'])
    z = ''.join(y)
    
    return z
    
shark_attacks['Any feeding'] = shark_attacks.apply(f, axis = 1)

TypeError: expected string or bytes-like object

In [ ]:
# Let's understand the cases where the entries are null for Activity.

null_display_activity = shark_attacks[shark_attacks['Activity'].isnull() == True]
null_display_activity

# There is no apparent reason or correlation between null entries of Activity to other categories.

In [ ]:
# Let's understand the cases where the entries are null for Fatal.

null_display_fatal = shark_attacks[shark_attacks['Fatal (Y/N)'].isnull() == True]
null_display_fatal

# There is no apparent reason or correlation between null entries of Fatal to other categories.

In [ ]:
# Let's check for duplicates in our database and remove them:

before = len(shark_attacks)
shark_attacks = shark_attacks.drop_duplicates()
after = len(shark_attacks)
print('Number of duplicate records dropped: ', str(before - after))

In [ ]:
# That's how our database is now:

shark_attacks.head(7)

## Data Cleaning: 'Fatal (Y/N)'

In [ ]:
# Let's check the unique values of the column Fatal (Y/N) and its incidence in our database.

print(f"""
These are the occurrences of the values for Fatal (Y/N):
{shark_attacks['Fatal (Y/N)'].value_counts()}
""")

print(f"""
These are the unique values of the Fatal (Y/N) column:
{set(shark_attacks['Fatal (Y/N)'])}

We will need to standardize it all in Y and N.
To do this, we will need to:

1. Check rows of data where anything else than Y/N appears (UNKNOWN, 2017, nan, M... about 73 occurrences).
    We may be able to attribute it to Y/N if Fatal/FATAL appears/fatal appears in other columns of the entry.
2. If not, drop the rows of these data values.
3. Transform the series from the dataframe into a list.
4. Upper case the strings.
5. Strip the strings of spaces after and before the character.
""")

### Checking uniques.

In [ ]:
#Let's examine the case of 2017. There is only one entry classified as 2017.

case_2017_list = shark_attacks.loc[shark_attacks['Fatal (Y/N)'] == '2017']

case_2017_list

# As there is no information regarding the survivability on other columns,
# we will dismiss this entry in the dropping section.

In [ ]:
# Let's examine the case of UNKNOWN. There are many entries classified as UNKNOWN.

case_UNKNOWN = shark_attacks.loc[shark_attacks['Fatal (Y/N)'] == 'UNKNOWN']
print(case_UNKNOWN)

# Printaremos também os índices referentes à entrada UNKNOWN. Futuramente retiraremos as linhas com base nessa lista.

case_UNKNOWN_list = list(case_UNKNOWN.index)
print(case_UNKNOWN_list)

# Examining the set of unique values of injury, we don't have any other relevant info on the fatality of the entries.
# So we can't take any action to classify these entries neither as Y nor as N.

set(case_UNKNOWN['Injury'])

# We will dismiss these entries since there is no info about fatality in the adjacent columns.

In [ ]:
# Let's examine the case of M. There is only one entry classified as M.

case_M = shark_attacks.loc[shark_attacks['Fatal (Y/N)'] == 'M']
print(case_M)

# Printaremos também os índices referentes à entrada M. Futuramente retiraremos as linhas com base nessa lista.

case_M_list = list(case_M.index)
print(case_M_list)

# It seems it was only a laceration and the input was supposed to be N, not M. We will change it to 'N' (not fatal).

In [ ]:
# Showing all NaN in column Fatal (Y/N)

null_display_fatal = shark_attacks[shark_attacks['Fatal (Y/N)'].isnull() == True]
null_display_fatal

In [ ]:
# Let's examine the case of NaN. There are many entries like this.
# We will reclassify the values of NaN based on columns 'Injury' and 'Species' since it seems the data entrier
# had put some keywords such as FATAL and Death on these columns and could lead us to improve our dataset.

# Let's define a function to apply to our dataset, where we classify the values in Fatal_adjusted based on
# columns 'Injury' and 'Species', when they do have the info 'death' or 'fatal'.

# WARNING: column Species is written with a space at the end = 'Species '

def fatal_classifier(row):
    
    """
    Essa função classificará em N ou Y com base nas strings ou lista de strings encontradas
    nas colunas Injury e Species.
    """
    
    if row['Fatal (Y/N)'] == ('Y' or 'y'):
        return 'Y'
    
    elif row['Fatal (Y/N)'] == ('N' or 'n'):
        return 'N'
        
    elif pd.isnull(row['Fatal (Y/N)']) == True: 
        
        try:            
            Injury_match_list = re.findall('[fFdD][aAeE][tTaA][aAtT][lLhH]', row['Injury'])    #variações de 'death' e 'fatal'
            Species_match_list = re.findall('[fFdD][aAeE][tTaA][aAtT][lLhH]', row['Species '])    #variações de 'death' e 'fatal'
            
            if  len(Injury_match_list + Species_match_list) == 0:
                return 'N'
    
            else:
                return 'Y'
        
        except:
            return 'Non available'
        
        
    else:
        return row['Fatal (Y/N)']

    
shark_attacks['Fatal_adjusted'] = shark_attacks.apply(fatal_classifier, axis=1)


#print(shark_attacks['Fatal_adjusted'] == shark_attacks['Fatal (Y/N)'])

null_display_fatal = shark_attacks[shark_attacks['Fatal (Y/N)'].isnull() == True]
null_display_fatal

### Row dropping

In [ ]:
# Let's drop the rows where Fatal_adjusted is Non available, through a list of indexes.

list_to_be_dropped = shark_attacks.loc[shark_attacks['Fatal_adjusted'] == 'Non available'].index

# Dropping the list of indexes
shark_attacks_v1 = shark_attacks.drop(index=list_to_be_dropped)

In [ ]:
# Let's drop the case of 2017 (row 786).
case_2017_list = [786]

In [ ]:
# Let's drop the case of UNKNOWNs ().
    # case_UNKNOWN_list
    
shark_attacks_v2 = shark_attacks_v1.drop(index=case_UNKNOWN_list)
shark_attacks_v3 = shark_attacks_v2.drop(index=case_2017_list)

### Row adjusting

In [ ]:
# For M, we will update the row 285 for Fatal (Y/N) from M to N.

shark_attacks_v3.loc[285,'Fatal_adjusted'] = 'N'

# Checking the value update:

print(shark_attacks_v3.loc[285,'Fatal_adjusted'])

### Stripping spaces in Fatal_adjusted

In [ ]:
def strip_spaces(x):
    return x.strip()    

shark_attacks_v3['Fatal_adjusted'] = shark_attacks_v3['Fatal_adjusted'].apply(strip_spaces)

In [ ]:
set(shark_attacks_v3['Fatal_adjusted'])

### Upper case all strings in Fatal_adjusted

In [ ]:
shark_attacks_v3['Fatal_adjusted'] = shark_attacks_v3['Fatal_adjusted'].str.upper()

In [ ]:
set(shark_attacks_v3['Fatal_adjusted'])

# We obtained a set containing only 'N' and 'Y' at the end.

In [ ]:
# The database updated:

shark_attacks_v3['Fatal_adjusted'].value_counts()

### Total death rate

In [ ]:
death_rate = 1620/4580
print(f"""The total death rate for the time span was {death_rate*100}%. 
This number could be lower but hardly higher, since we dropped the columns where no conclusion could be drawn
and they were mostly about lacerations and such.""")

In [ ]:
shark_attacks_v3

## Data Cleaning: 'Activity'

### Checking uniques.

In [ ]:
# Let's check the unique values of the column Activity.

print(set(shark_attacks['Activity']))

# Problematic: anedoctal(too many descriptions).
# We will have to categorize them better, maybe through bins.

In [580]:
print(f"""

We will base this on the following sources:

https://en.wikipedia.org/wiki/List_of_water_sports
https://www.themost10.com/popular-water-sports/

- Fishing: Fishing / Spearfishing / Deep sea fishing / Big game fishing
- Diving: Diving / Scuba Diving / Snorkeling / Freediving
- Surfing: Surfing
- Swimming: Swimming
- Parasailing: Parasailing
- Boats: Kayaking / Canoeing / Rafting / Boating
- Skiing: Jet Skiing / Water Skiing
- Wake: Wakeboarding / Wakesurfing
- Kite: Kitesurfing / Kiteboarding
- Motorized boats: Yachting / Ship
- Other activities

...and finally...

- Shark feeding

""")

We will base this on the following sources:

https://en.wikipedia.org/wiki/List_of_water_sports
https://www.themost10.com/popular-water-sports/

- Fishing: Fishing / Spearfishing / Deep sea fishing / Big game fishing
- Diving: Diving / Scuba Diving / Snorkeling / Freediving
- Surfing: Surfing
- Swimming: Swimming
- Parasailing: Parasailing
- Boats: Kayaking / Canoeing / Rafting / Boating
- Skiing: Jet Skiing / Water Skiing
- Wake: Wakeboarding / Wakesurfing
- Kite: Kitesurfing / Kiteboarding
- Motorized boats: Yachting / Ship
- Other activities

...and finally...

- Shark feeding

In [536]:
def activity_classifier(row):
    """
    This function will classify the rows present in columns 'Activity' based on a list of strings set before.  
    """
    
    fishing_match_list = re.findall('[fF][iI][sS][hH][iI][nN][gG]', row['Activity'])
    diving_match_list = re.findall('[dD][iI][vV][iI][nN][gG]', row['Activity'])
    surfing_match_list = re.findall('[sS][uU][rR][fF][iI][nN][gG]', row['Activity'])
    swimming_match_list = re.findall('[sS][wW][iI][mM][mM][iI][nN][gG]', row['Activity'])
    
    if  len(fishing_match_list) != 0:
        return fishing_match_list[0]
                
    elif  len(diving_match_list) != 0:
        return diving_match_list[0]
        
    if len(surfing_match_list) != 0:
        return surfing_match_list[0]
        
    if len(swimming_match_list) != 0:
        return swimming_match_list[0]
        
    else:
        return 'working'
    
    
shark_attacks_v3['Activity_adjusted'] = shark_attacks.apply(activity_classifier, axis=1)

row('Activity')

TypeError: expected string or bytes-like object

## Data Cleaning: 'Type'

In [25]:
print(shark_attacks['Type'].value_counts())

# We will have to reclassify this column too, based on text of other columns.

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [32]:
shark_attacks[shark_attacks['Type'] == 'Invalid']

# Analyzing the column when Invalid was input as Type,

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
13,2018.05.13.a,13-May-2018,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,Injured by teeth of a dead porbeagle shark he ...,N,08h15,Invalid incident,"K. McMurray, TrackingSharks.com",2018.05.13.a-Berryman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.13.a,2018.05.13.a,6290.0,NaN,NaN
31,2018.04.10.R,Reported 10-Apr-2018,2018.0,Invalid,BRAZIL,Alagoas,"Praia de Sauaçuhy, Maceió",Fishing,Josias Paz,M,56,Injury to ankle from marine animal trapped in ...,N,NaN,Shark involvement not confirmed,"K. McMurray, TrackingSharks.com",2018.04.10.R-Paz.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.10.R,2018.04.10.R,6272.0,NaN,NaN
43,2018.02.14,14-Feb-2018,2018.0,Invalid,AUSTRALIA,Queensland,Mooloolaba Beach,Swimming,Sharna Babd,F,NaN,"Collision / No injury, no attack",N,18h00,Possibly a wobbegong,"Sunshine Coast Daily, 2/15/2018",2018.02.14-Babd.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.02.14,2018.02.14,6260.0,NaN,NaN
44,2018.02.11,11-Feb-2018,2018.0,Invalid,BRAZIL,"Boi Island, Victoria",Espirito Santo,Cleaning fish,Rosalida Souza,F,46,Lacerations to 4 toes of right foot,N,NaN,"Injury believed caused by an eel, not a shark",TrackingSharks.com,2018.02.11-Rosilda.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.02.11,2018.02.11,6259.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6147,1767.00.00,1767,1767.0,Invalid,FRANCE,Côte d'Azur,St. Tropez,Bathing,Samuel Matthews,M,NaN,Lacerations to arm & leg,NaN,NaN,Description of shark does not ring true,NaN,1767.00.00-Matthews.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1767.00.00,1767.00.00,156.0,NaN,NaN
6157,1733.00.00,1733,1733.0,Invalid,ICELAND,Bardestrand,Talkknefiord,NaN,NaN,NaN,NaN,"Partial hominid remains recovered from shark, ...",NaN,NaN,Shark involvement prior to death unconfirmed,E. Olafsen,1733.00.00-Iceland.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1733.00.00,1733.00.00,146.0,NaN,NaN
6164,1642.00.00.b,Late 1600s Reported 1728,1642.0,Invalid,GUINEA,NaN,NaN,Went overboard,crew member of the Nieuwstadt,M,NaN,FATAL,NaN,NaN,Questionable,"History of the Pyrates, by D. Defoe, Vol. 2, p.28",1642.00.00.b-Nieuwstadt.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1642.00.00.b,1642.00.00.b,139.0,NaN,NaN
6227,ND.0086,"No date, Before 1975",0.0,Invalid,PAPUA NEW GUINEA,Milne Bay Province,"D'Entrecasteaux islands, 20 miles off the coast",Scuba diving,Dan Hogan,M,NaN,Said to be fatal and involve a 4.6 m to 6 m [1...,Y,NaN,Questionable,"F. Dennis, pp.15-16",ND-0086-DanHogan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0086,ND.0086,76.0,NaN,NaN
6232,ND.0081,"No date, Before 1963",0.0,Invalid,USA,Hawaii,"Portlock, Oahu",Diving,Val Valentine,M,NaN,A 4.3 m [14'] shark made threat display. No in...,NaN,NaN,Invalid,B. Sojka & D. Lloyd,ND-0081-Valentine.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0081,ND.0081,71.0,NaN,NaN

## Plotting

In [24]:
#s1 = pd.Series(['a', 'b', 'a', 'c', 'a', 'b'])
#s2 = pd.Series(['a', 'f', 'a', 'd', 'a', 'f', 'f'])
#d = pd.DataFrame({'s1': s1, 's2': s2})
#d.apply(pd.value_counts).plot(kind='bar', subplots=True)